@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  height: 100%;
  color: orange;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: black;
}

.colortext {
  color: orange;
  
}

.back-to-top {
  background: #3E64FF;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  padding: 10px 12px;
  right: 10px;
  cursor: pointer;
  transition: 0.3s all;
}


.back-to-top.active {
  bottom: 50px;
  transition: 0.3s all;
}

.popup {
  height: 0px;
  display: block;
  margin: 0 auto;
  width: 50%;
  font-size: 31px;
  font-weight: 600; 
  color: orange;
  position: relative;
  transition: .5s all;
  top: -999px;
  font-family: Helvetica;
  /* z-index: 0; */

  /* background-color: wheat; */
}

/* .popup input{
  display: block;
  width: 100%;
  border: none;
  height: 25px;
  line-height: 25px;
  margin: 10px 0;
} */

#pride_C:checked ~ .popup{
  height: 100%;
  top: 0px;
}

#pride_C {
  display: none;
}

.wrapper {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  line-height: 3;
  /* z-index: 0; */

  top: -999px;
}

/* .myu {
  z-index: 2;
} */

.btnn {
  text-align: center;
}

.bg {
  position: relative;
  width: 100%;
  /* z-index: -1; */
}

.bg img {
  width: 100%;
  height: auto;
}


.bg .btn1 {
  position: absolute;
  top: 88%;
  left: 50%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(3, 3, 3);
  box-shadow: inset 0 0 0 1px orange, 0 5px 5px #0004;
  color: (255, 255, 255);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}

.footer {
  background-color: #252525;
}

.contacts-socia {
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  margin-bottom: 10px;
}

.container {
  max-width: 100%;
  padding: 0px;
}

.title-1 {
  font-size: 34px;
  font-weight: 600;
  text-align: center 
}

.btn {
  display: inline-block;
  padding: 7px 22px;
  background-color: orange;
  border-radius: 30px;

  font-size: 18px;
  color: wheat;

  transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.btn:hover,
.btn:focus {
  background-color: orange;
}

.btn:active {
  position: relative;
  top: 1px;
  background-color: orange;
}

/* Header */

.header {
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 76px;
}

.logo {
  position: relative;
  padding: 0 12px 3px 0;

  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color: orange;
}

.logo::after {
  position: absolute;
  right: 0;
  bottom: 0;

  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: orange;
  border-radius: 50%;
}

/* Nav */

.nav-list {
  display: flex;
  column-gap: 50px;
  font-weight: 500;
  font-size: 14px;
}

.nav-button {
  display: none;
}

.nav-link {
  color: orange;
}

.nav-link.active {
  color: orange;
}

/* Header content */

.header-row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.header-content {
  margin-top: 124px;
  max-width: 500px;
}

.header-heading {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 44px;
}

.header-content p {
  line-height: 2;
}

/* Service */

.services {
  padding: 90px 30px;
}

.services-row {
  display: flex;
  column-gap: 30px;
  row-gap: 60px;
  flex-wrap: wrap;
}

.service-card {
  flex: 1 1 0;
  min-width: 315px;
}

.service-card-img {
  margin-bottom: 30px;
}

.service-card-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}

.service-card p {
  line-height: 2;
}

/* Portfolio */

.portfolio {
  padding: 0px 0;
  background-color: black;
}

.portfolio-title {
  margin-bottom: 0px;
  text-align: center;
}

.project {
  text-align: center;
}



/* Footer */

.contacts {
  padding: 90px 0;
  text-align: center;
}

.contacts-title {
  margin-bottom: 40px;
}

.contacts-content {
  margin: 0 auto 40px;
  max-width: 480px;
  font-size: 18px;
}

.contacts-content p + p {
  margin-top: em1;
}

.contacts-button {
  margin-bottom: 80px;
}





/* .contacts-footer {
  color: rgb(0, 0, 0);
} */


/* .contacts {
  padding: 90px 0;
  text-align: center;
} */

.contacts-title {
  background-color: #252525;
}

/* .contacts-content {
  margin: 0 auto 40px;
  max-width: 480px;
  font-size: 18px;
} */

/* .contacts-content p + p {
  margin-top: 1em;
} */

/* .contacts-button {
  margin-bottom: 80px;
} */

/* .contacts-social {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  margin-bottom: 40px;
} */

/* .contacts-footer {
  color: orange;
}
.color {
  color: orange;
  background-color:orange;
} */

/* Footer */

.contacts {
  padding: 90px 0;
  text-align: center;
}

.contacts-title {
  margin-bottom: 40px;
}

.contacts-content {
  margin: 0 auto 40px;
  max-width: 480px;
  font-size: 18px;
}

.contacts-content p + p {
  margin-top: 1em;
}

.contacts-button {
  margin-bottom: 80px;
}




.contacts-button {
 
}
.btn {
 color: black;
}